# If modified do "sudo udevadm control --reload-rules"
# Then unplug and replug GQ GMC-300

# works on Raspbian with GQ GMC-300E Plus
SUBSYSTEM=="usb", ATTR{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="666", GROUP="plugdev"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", MODE:="666", SYMLINK+="gqgmc"